#aboutUs {
    padding: 10px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: inherit;
    
}

#aboutUs img {
   
   max-height: 60vh;
    
    height: auto;
    justify-content: end;
    justify-items: end;
  
    
}

.article {
    padding-top: 2px;
  text-align: center;
  margin: 0px 25px;
}
.article h1{
    font-size: 1.85rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
}
.article h2 {
    font-size: 1.1rem;
    font-weight: 700;
}



.description {
    color: black;
    margin: 1.3rem 0px 1.1rem;
  line-height: 1.5;
  text-align: justify;
}


@media screen and (max-width: 778px) {
    #aboutUs img {
        width: 100%;
       
    }

    #aboutUs {
        grid-template-columns: 1fr;
        place-items: center;
        justify-content: center;
        margin-left:0px;
    }
}