*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
/**/
/* Custom Properties, update these for your own design */

:root {
    --ff-primary: "Raleway", Helvetica, sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light:aqua;
    --clr-dark: #303030;
    --clr-accent: #046607;

    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.2rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
/* General styles*/

body {
    
    color: var(--clr-dark);
    margin: 0rem;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.0;
    background-color: rgb(238, 238, 238);
    line-height: 1.5em;
    

}


strong {font-weight: var(--fw-bold);}

section {
  background-color: whitesmoke;
}


html {
    scroll-behavior: smooth;
}


/*Nav*/
.navbar {
    background-color:white;
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    margin-bottom: 5px; 
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    
  }
  .navlinks{
    padding-left: 200px;
    position: absolute;
  }
   .logo{
   width: 270px;
   float: left;
   
  }
  .img-logo{
    position:relative;
    width: 100%;
  }
  .navbar li {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    
    

  }
  .navbar a {
    display: block;
    padding: 12px;
    color: black;
    text-decoration: none;
    opacity: 3;
    letter-spacing: normal;
    
         
  }
  @media only screen and (max-width:993px) {
    
    .navbar ul{
        display: none;
       
    }
    
  }
  /*Mobile Nav*/
  /*mobile nav*/


.mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color:rgb(169, 228, 208);
  opacity: 95%;
    transition: transform 800ms cubic-bezier(.5, 0, .5, 1);
    padding-top: 45px;
    transform: translateX(100%);
}
.mobile-nav.is-active{
  left: 0;
  transform: translateX(0);
  
}

.mobile-nav a{
  display: block;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  color:black;
  margin-top: 30px;
  font-size: var(--fs-h2);
  font-weight: bold;
  
}
.mobile-nav a:hover{
  background-color: white;
}
/*media */
@media (min-width: 992px) {
  
.hamburger, .mobile_nav{
  display: none;
}  
}
  

  /*.trial li a:hover {
    text-transform:capitalize;
    color:rgba(0, 255, 255, 0.253);
  }*/

  /*hero*/
  .hero-container {
    width: 100%;
    min-height: 85vh;
    background-image: linear-gradient(rgba(13, 33, 34, 0.473), rgba(0, 0, 0, 0.329)), url("img/Hero2.JPEG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0 100px 0;
    color:white;
    
  }
  .hero-container h2 {
    margin: 0 0 0 0;
    font-size: 45px;
    font-weight:var(--fw-reg);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h2);
    
    text-align: center;
    align-items: center;
    padding: 0 0 0 60px;

  }
  .hero-container h2 span {
    position: relative;
    z-index: 1;
    padding: 0 5px;
    display: inline-block;
    color:white;
    font-size: var(--fs-h2);
    font-family: var(--ff-secondary);
  }
  .hero-column h2 span:before {
    content: "";
    position: relative;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
   
    z-index: -1;
  }
  .hero-container p {
    color: black;
    margin: 50px 50px 50px 50px;
    font-size: 1.1em;
    text-align: center;
    justify-items: left;
    padding: 50px 50px 50px 0px;
    background-color: rgb(162, 211, 211);
    font-weight: 400;
  
  }
  
  .hero-button{
    background-color: white;
    
    cursor: pointer;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    margin-bottom: 0;
    border-radius: 16px;
    border-width: 0 0 4px;
    transition: transform 200ms ease-in-out;
    transform: scale(1.1);
    
  }
  .hero-button a{
    text-decoration: none;
    color: aquamarine;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg)
    }
    .center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .hero-column{
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    
    /*specific height*/
   
   

    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    
  }
  /*media queries*/
  @media only screen and (max-width: 1020px) {
    .hero-container{
      min-height: 50vh;
  }
  .hero-container p{
    display: none;
  }
  } 
  @media (max-width: 780px) {
    .hero-container{
      min-height: 20vh;
       max-width:100% ;
  }
  .hero-container h2{
    
    font-size: 30px;
  }
  .highlight{
    font-size: 28px;
  }
  }
 

   /*hamburger*/
   .hamburger {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 0.2em;
    z-index: 1000;
  }

  .hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    background: black;
    display: block;
    width: 2em;
    height: 5px;
    border-radius: 1em;
    transition:  transform 250ms ease-in-out;
    margin: 6px 0;
  }

  .hamburger.is-active::before{
    transform: rotate(135deg) translate(8px, -7px);
  }
  .hamburger.is-active::after{
    transform: rotate(-135deg) translate(8px, 7px);
  }

  .hamburger.is-active .bar{
    opacity: 0;
  }


 /*About*/
 /*.about{
  height: 25vh;
  padding-top: 20px;
  margin-bottom: 100px;
  
 
 }
 .about_text{
  text-justify: distribute-all-lines;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
 
  
}
.about_text li{
  list-style:none;
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  
}
.highlight{
  color: white;
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
}
.about_title{
  
  text-align: center;
  color: var(--clr-dark);
  margin-bottom: 1px;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
 font-family: var(--ff-pri);
 font-size: var(--fs-h3);
    padding-bottom: 10px;
  
}*/
/*About 2
.about_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:white;
  width: 100%;
  justify-content: center;
  
  

}
#sec-1 {
  background-color: var(--txtaccent);
}
#sec-1 .article{
  

  padding-top: 2px;
  text-align: center;
  margin: 0px 25px;
}
#sec-1 .article h1{
  font-size: 1.85rem;
  color: var(--haccent);
  font-weight: 700;
  text-transform: uppercase;
}
#sec-1 .article h2{
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--textaccent3);
}
#sec-1 .article p{
  font-size: var(--fs-h3);
  margin: 1.3rem 0px 1.1rem;
  line-height: 1.5;
  text-align: justify;
  
}
#sec-1 .article a{
  color: var(--txtaccent);
  
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 10px;
  
  
  width: fit-content;
}
#sec-1 .aside {
  
  height:auto;
 
}
#sec-1 .aside img{
  max-width: 100%;
  
}
*/
  
  
/*Services*/

i.fa-solid {
  color: aqua;
  font-size: 40px;
  margin-left: 100px;
  

}
.our-services{
  background-color: white;
}
.service_title{
  
  text-align: center;
  color: var(--clr-dark);
  margin-bottom: 1px;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
 font-family: var(--ff-secondary);
 font-size: var(--fs-h3);
    
  
}

.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 2em 2em;
}
  
  
.service{
  padding: 50px 25px; 
  width:calc(24.5%);
  background-color:white;
 
  height: 300px;
  outline-style: solid;
  outline-color: rgb(215, 243, 247);
  
 
}
.try{
  font-family: var(--ff-secondary);
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.85rem;
    font-weight: 700;
  text-transform: uppercase;
 
  
}
.try1{
  margin: 2rem 0px 1.1rem;
  line-height: 1.5;
  text-align: center;
  line-height: 1.5;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: var(--fs-body);

  
}
.service_title{
  font-family:var(--ff-secondary);
  text-transform: uppercase;
  font-size: 1.85rem;
  font-weight: 700;
  
}
.service:hover{
  background-color:rgb(215, 243, 247);
  cursor: pointer;
  transform: scale(1.07);
  transition: 0.5s;
}
.service p{
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*media queries*/
@media screen and (max-width:1190px){
  
  .service{
    width: calc(50% - 25px);
    margin-bottom: 20px;
  }
}
@media screen and (max-width:680px){
  .service{
    width: calc(100%);
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
  }
}

/*Gallery section*/
.project-head h1{
  font-weight: 200;
  margin-left: 30px;
  font-size: xx-large;

}
.container{
  padding: 1em 1em;
    width:100%;
    
}
.photo-gallery{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    column-gap: 10px;
    row-gap: 15px;
}
.photo{
    position: relative;
    height: auto; 

}
.container .photo img{
    max-width: 100%;
    
}

.container .gallery-filter{
	padding: 0 15px;
	width: 100%;
	text-align: justify;
	margin-bottom: 20px;
}
.container .gallery-filter .filter-item{
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin:0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
}
.container .gallery-filter .filter-item.active{
	color: aqua;
	border-color : blue;
}
.container .photo.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.container .photo.hide{
	display: none;
}

/*media queries*/
@media only screen and (max-width: 1020px) {
  .photo-gallery{
    width: 95%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5px;
    row-gap: 8px;
}
}
@media screen and (max-width: 778px) {
/*  .aside img {
    width: 80%;
}

#sec-1 {
    grid-template-columns: 1fr;
    place-items: center;
    justify-content: center;
}
  #sec-1 .article{
    padding: 0px;
    text-align: left;
    width:51%;
   
    justify-content: center;
}
#sec-1 .article p{
    padding-right: 1rem;
}
#sec-1 .aside {
    width: 48%;
    margin: 0px;
    text-align: right;
}*/
  .photo-gallery{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 5px;
    row-gap: 5px;
}
}
/*footer*/
.footer {
  margin-top: 30px;
  padding: 30px 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgb(164, 240, 240);
}
.footer .copyright{
  text-align: center;
}
/*.contact-us{
  max-width: 95%;
  height: 350px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  background: rgb(223, 245, 238);
 
}
.Quick-links{
  width: 100%;
  height: auto;
  flex: 33%;
}
.Quick-links ul{
  list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .Quick-links li {
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
    justify-content: flex-start;
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary); 
    text-decoration-line: none;
  }
  .Quick-links h3{
    font-size: var(--fs-h3);
    text-align: center;
  }

.contact-map{
  width: 80%;
  height: auto;
  flex: 33%;
  padding: 10px;
}
.contact-map iframe{
  width: 100%;
  height: 100%;
}
.contact-details{
  width: 100%;
  height: auto;
  flex: 33%;
}
.contact-details h3{
  font-size: var(--fs-h3);
  text-align: center;
}
.contact-details ul{
  list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .contact-details li {
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
    justify-content: flex-start;
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary); 
    text-decoration-line: none;
  }
.contact-details h3{
  text-align: left;
}
.footer-logo img{
  width: 100%;
  height: auto;

}*/
.footer-container {
  max-width: 95%;
  margin: auto auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: aqua;
}

.footer-column {
  flex: 80%;
  text-align: center;

}

.footer-column h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: 200;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  justify-content: left;
}

.footer-column li {
  margin-bottom: 20px;
 
  list-style: none;
  padding-left: 100px;
  font-size: normal;
  color: black;
  font-weight: 100;
  justify-content: left; 
}

.footer-column li a{
  text-decoration: none;

  font-size: medium;
  font-weight: bold;
}

.footer-copyright {
  background-color: rgb(167, 238, 214);
  color: black;
  text-align: center;
  padding: 10px 0;
  font-weight: var(--fw-bold);
}
.contact-map{
  width: 100%;
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.contact-map iframe{
  width: 100%;
  height: 350px;
  
}
.footlogo{
  max-width: 100%;
  

}
.footlogo img{
  margin-top: 70px;
  width: 50%;
  height: auto;
 
}
.head-office h1{
  font-weight: 200;
  margin-left: 30px;
}

@media only screen and (max-width: 780px){
  .footer-container {
      display: flex;
      flex-direction: column;

    }
footer .left,
footer .right {
      order: 1;
    }
footer .copyright {
      order: 2;
    }

    .footer-column h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      
      font-size: var(--fs-h3);
    }
    .footer-column ul{
      display: inline;
      
    }
    .contact-map{
      width: 100%;
      padding: 0;
    }
}  


